.page__job {
    display: flex;
    margin-top: 250px;
    flex-direction: column;
}
.page__job-header {
    display: flex;
}

.lines-list {
    display: flex;
}
.lines-item {
    position: relative;
    writing-mode: vertical-lr;
    font-family: 'Inter';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    color: #A4B0C6;
}
.lines-item::before {
    content: " ";
    position: absolute;
    background-color: #A4B0C6;
}
.page__job .lines-item {
    padding-top: 55px;
}
.page__job .lines-item:not(:last-child) {
    margin-right: 35px;
}
.page__job .lines-item:first-child {
    margin-right: 100px;
}
.page__job .lines-item::before {
    top: 0;
    left: 3px;
    width: 1px;
    height: 49px;
}
.page__job .lines-item:last-child::before {
    height: 115px;
}
.page__job .page-number {
    margin: 0 60px 0 365px;
}
.subtitle {
    font-size: 55px;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}
.subtitle span {
    font-weight: 700;
}
@media (max-width:1160px) {
    .page__job-header .subtitle {
        font-size: 40px;
        line-height: 110%;
    }
    .page__job {
        margin-top: 80px;
    }
}
@media (max-width:992px) {
    
    .page__job-header .lines { 
        display: none;
    }
    .page__job .page-number {
        margin: 0;
        order: 2;
    }
    .page__job-header {
        justify-content: space-between;
    }
}
@media (max-width:768px) {
    .page__job {
        margin-top: 60px;
    }
}
@media (max-width:650px) {
    .page__job-header {
        flex-direction: column;
    }
    .page__job-header .subtitle {
        order: 2;
        margin: 20px 0 0;
    }
}
@media (max-width:350px) {
    .page__job-header .subtitle {
        font-size: 35px;
    }
}